<?xml version="1.0" encoding="UTF-8" ?>
<config language="en|cs" visible_presumption="1" speed="4" fullscreen="0" sound="0">
	<!-- pro jmena klaves viz doc/keys.txt -->
	<player1>
		<bind key="left" action="left" />
		<bind key="right" action="right" />
		<bind key="up" action="up" />
		<bind key="down" action="down" />
		<bind key="return" action="plant" />
		<bind key="right shift" action="timer" />
	</player1>

	<player2>
		<bind key="a" action="left" />
		<bind key="d" action="right" />
		<bind key="w" action="up" />
		<bind key="s" action="down" />
		<bind key="e" action="plant" />
		<bind key="f" action="timer" />
	</player2>

	<player3>
		<bind key="jmeno klavesy" action="left" />
		<bind key="jmeno klavesy" action="right" />
		<bind key="jmeno klavesy" action="up" />
		<bind key="jmeno klavesy" action="down" />
		<bind key="jmeno klavesy" action="plant" />
		<bind key="jmeno klavesy" action="timer" />
	</player3>

	<player4>
		<bind key="jmeno klavesy" action="left" />
		<bind key="jmeno klavesy" action="right" />
		<bind key="jmeno klavesy" action="up" />
		<bind key="jmeno klavesy" action="down" />
		<bind key="jmeno klavesy" action="plant" />
		<bind key="jmeno klavesy" action="timer" />
	</player4>

</config>
