<?xml version="1.0" encoding="UTF-8" ?>
<config 	language="en|cs"
		visible_presumtion="1|0"
		speed="float - rozmezi 1.0 az 4.0"
		fullscreen="1|0"
		sound="1|0"
		>
	<!-- pro jmena klaves viz doc/keys.txt -->
	<player1>
		<bind key="jmeno klavesy" action="left" />
		<bind key="jmeno klavesy" action="right" />
		<bind key="jmeno klavesy" action="up" />
		<bind key="jmeno klavesy" action="down" />
		<bind key="jmeno klavesy" action="plant" />
		<bind key="jmeno klavesy" action="timer" />
	</player1>

	<player2>
		<bind key="jmeno klavesy" action="left" />
		<bind key="jmeno klavesy" action="right" />
		<bind key="jmeno klavesy" action="up" />
		<bind key="jmeno klavesy" action="down" />
		<bind key="jmeno klavesy" action="plant" />
		<bind key="jmeno klavesy" action="timer" />
	</player2>

	<player3>
		<bind key="jmeno klavesy" action="left" />
		<bind key="jmeno klavesy" action="right" />
		<bind key="jmeno klavesy" action="up" />
		<bind key="jmeno klavesy" action="down" />
		<bind key="jmeno klavesy" action="plant" />
		<bind key="jmeno klavesy" action="timer" />
	</player3>

	<player4>
		<bind key="jmeno klavesy" action="left" />
		<bind key="jmeno klavesy" action="right" />
		<bind key="jmeno klavesy" action="up" />
		<bind key="jmeno klavesy" action="down" />
		<bind key="jmeno klavesy" action="plant" />
		<bind key="jmeno klavesy" action="timer" />
	</player4>

	<!-- nejsem si jisty, jestli dokazu najit na disku jen podle toho ze tam jsou
		soubory s ulezenymi hrami, pokud ano nasledujici definici vyhodit,
		pokud ne, zde se definuje, ktere ty soubory by tam meli byt (9.10.2008 nejspis ANO)
	<savedgames>
		<_game name="jmeno hry, zaroven jmeno souboru s ulozenou hrou" />
		<_game name="jmeno jine ulozene hry" />
	</savedgames> -->
</config>
